
.style{
	color: #7C2845;
}

.back{
	background: url(../../images/test.jpeg) no-repeat;
	height: 265px;
	width: 241px;
	transform: translate3d(0,0,0);
}

//全局样式可以直接用className="c"访问
:global(.c){
	background: #ff0;
	height: 50px;
	width: 50px;
}

/*使用 className={style.aboutA}*/
.about-a{
	background: #000;
}